@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@plugin "daisyui" {
    themes: bumblebee --default, dim --prefersdark, light, dark, emerald, cupcake, forest, dracula, night, sunset, retro, silk, synthwave, nord;
}

h1 {
    font-size: 18pt;
    font-weight: bold;
}

h2 {
    font-size: 14pt;
    font-weight: 600;
}

h3 {
    font-weight: 700;
}

.ui {
    font-family: "Lora";
    font-weight: 500;
}

code {
    @apply px-2 py-1 rounded-sm bg-base-100;
}

@font-face {
    font-family: 'Lora';
    /*a name to be used later*/
    src: url('/LoraVariable.ttf');
    /*URL to font*/
}
