@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@plugin "daisyui" {
    themes: bumblebee --default, dim --prefersdark, light, dark, emerald, cupcake, forest, dracula, night, sunset, retro, silk, synthwave, nord;
}

h1 {
    font-size: 18pt;
    font-weight: bold;
}

h2 {
    font-size: 13pt;
    font-weight: 600;
}

h3 {
    font-weight: 700;
}

code {
    @apply px-2 py-1 rounded-sm bg-base-100;
}
